body {
  font-family: sans-serif;
}
.mv-card {
  margin: 10px;
  padding: 10px;
  border: 2px double;
  border-radius: 12px;
  background-color: #a2a9c8;
  text-align: center;
}
#app {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid;
}
@media (max-width: 768px) {
  #app {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  #app {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  #app {
    grid-template-columns: 1fr;
  }
}
button {
  border-radius: 5px;
  border: 2px double;
}
.btn-remove {
  background-color: antiquewhite;
  border-style: ridge;
  border-color: brown;
}
#Add-movie-form {
  margin: 5px;
  margin-bottom: 10px;
  padding: 30px;
  border: 2px groove rgb(231, 181, 181);
  text-align: center;
}
.btnUpdate-class {
  background-color: antiquewhite;
  border-style: ridge;
  border-color: brown;
}
.btnEdit {
  background-color: antiquewhite;
  border-style: ridge;
  border-color: brown;
}
