.mv-card {
  margin: 10px;
  padding: 10px;
  border: 2px double;
  border-radius: 12px;
  background-color: #a2a9c8;
}
#app {
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 2px solid;
}
@media (max-width: 768px) {
  #app {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  #app {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  #app {
    grid-template-columns: 1fr;
  }
}
button {
  border-radius: 5px;
  border: 2px groove;
}
